.ChatApp {
    height: 100vh;
}

* {
    color: #f6f6f6;
    font-family: 'Ubuntu', sans-serif;
}

// Home Component
.home-content {
    background: url('../assets/img/background_1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.main-title {
    font-size: 2.8em;
}

.home-info-container {
    margin: auto;
    width: 100%;
    text-align: center;
    padding-top: 100px;
    height: 70%;
    background: url('../assets/img/sex1.png');
    border-bottom-right-radius: 100px;
    background-size: cover;
    background-position: inherit;
}

.message-print {
    text-align: left;
    margin-top: 50px;
}

.start-button {
    margin-left: 30px;
    width: 60%;
    margin-top: 260px;
    padding: 1px;
    border-radius: 100px;
}

.start-button a {
    text-decoration: none;
}

.button-chat {
    background: #f1766d;

}

.button-dark {
    color: #f6f6f6;
    font-weight: 900;
}

.button-news {
    background-color: #f6f6f6;
    margin-top: 10px;
}

.button-light {
    color: #f1766d;
    font-weight: 900;
}

p.message-write {
    font-size: 2em;
    position: relative;
    top: 70px;
    left: 20px;
    width: 65%;
}

.message-print {
    text-align: left;
    margin-top: 50px;
    border-radius: 10px;
    padding: 20px;
    height: 130px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.ageVerify-main {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #f6f6f6;
}

.ageVerify-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.age-select {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #000;
    width: 95px;
    font-size: 1.5em;
    padding: 5px;
    position: relative;
    top: 5px;
}

.age-label {
    margin-bottom: 5px;
}

.verify-button {
    margin-top: 10px;
}

label.age-select.age-label {
    color: #666;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1em;
    position: relative;
}

.age-value {
    border: 1px solid #ccc;
    border-radius: 9px;
}

p.error {
    color: #f6f6f6;
    background: red;
    margin: 0;
    padding: 10px;
    margin-top: 20px;
    font-size: 0.8em;
    text-align: center;
}

button.verify-button {
    padding: 14px 28px;
    width: 50%;
    background: #f1766d;
    border: none;
    border-radius: 100px;
    margin-left: 25%;
}

.verify-action {
    padding-bottom: 20px;
}

option.age-select {
    font-size: 15px !important;
}

.age-actions-content {
    position: relative;
    top: 20%;
}

h2.verify-title {
    color: #333;
    font-size: 2.5em;
    text-align: center;
}

p.verify-descr {
    color: #333;
    font-weight: 200;
    width: 80%;
    margin: auto;
    font-size: 0.9em;
}

//SEGGESTION PAGE
.suggestion-main-content header {
    padding: 40px 0 40px 0;
    background: url('../assets/img/suggest.png');
    border-bottom-right-radius: 100px;
    background-size: cover;
    height: 140px;
    background-position: center;
}

.suggestion-main-content header {
    padding: 40px 0 40px 0;
}

.widget-container {
    height: 100px;
    align-items: center;
    margin-bottom: 20px;
}

.image-container {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    width: 90px;
    height: 90px;
    border-radius: 110px;
}

h2.suggest-title {
    font-size: 1.8em;
    margin-left: 20px;
    margin-top: 80px;
}

img.circular-image {
    border-radius: 100px;
    width: 50px;
    position: relative;
    top: 5px;
}

.text-container p {
    color: #333;
    font-size: 0.8em;
    margin: 0;
}

.text-container {
    position: relative;
    top: 20px;
}

.text-container h2 {
    color: #f1766d;
    font-weight: 900;
    font-size: 1.3em;
    margin: 0;
    margin-bottom: 5px;
}

.suggestion-main-content {
    background: #F0A695;
    height: 100%;
}
.IconBtn.Icon, .IconBtn>img {
    display: block;
}

p.history-suggest {
    color: #333;
    position: absolute;
    top: 0;
    z-index: 999;
    right: 10px;
    padding: 4px;
    border-radius: 5px;
    font-size: 12px;
    border: 1px solid #333;
}

svg.Icon {
    fill: #333;
}

img.logo {
    width: 260px;
}

// CHAT COMPONENT
.chatNavbar {
    height: 60px;
}

.botMessageBubble{
    color: #333;
}

.Bubble.text p {
    color: #333;
}

.PullToRefresh-inner {
    background: #F0BEA7;
}

button.Btn.Btn--primary.Composer-sendBtn {
    background: #f1766d;
}

.Composer {
    background: #F0BEA7;
}

time.Time {
    color: #f1766d;
}